.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: aquamarine;
}

.grid div {
  height: 40px;
  width: 40px;
}

.bomb {
  background-color: red;
}

.checked {
  background-color: orange;
}
